 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p> I am a 33 year old Swede from Trosa, Södermanland. My interest in computers and everything related to IT encouraged me into pursuing a career as an IT engineer. I am currently at the last year of studies at the Masters Programme in Computer Science (with Visualization and Graphics as my subtrack), at KTH in Stockholm. This semester marks the beginning of my masters thesis for which Im searching for a company to discuss possible thesis topics that I could help with.</p>
                </div>
                <div class="col-lg-4">
                    <p> In my spare time I enjoy drinking cooffee, reading, playing video and tabletop games with my friends (D&D!), and most of all to spend it with my fiancee and daughter. </p>
                </div>
                <!--
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>
                -->
            </div>
        </div>
    </section>
